<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Grade Manager</title>
</head>

<body class="grey lighten-2">
    <main class="container center">

        <h4>Ops, um erro aconteceu por aqui.</h4>

        <p th:text="${message}"></p>

        <a href="/checkpoint" class="btn">Voltar para a home</a>

    </main>

</body>

</html>